# Build directory
/build/

# Object files
*.o
*.obj

# Binaries
meinprogramm
*.out
*.exe

# Debug / profiling
*.dSYM/
*.gprof
gmon.out

# Editor / IDE files
*.swp
*.swo
*~
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# CMake (falls später verwendet)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
